[submodule "dependencies/lvgl"]
	path = dependencies/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "SkollDice_bot/lib/concord"]
	path = SkollDice_bot/lib/concord
	url = https://github.com/Cogmasters/concord.git
[submodule "SkollDice_Dekstop/dependencies/lvgl"]
	path = SkollDice_Dekstop/dependencies/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "SkollDice_bot/dependencies/lib"]
	path = SkollDice_bot/dependencies/lib
	url = https://github.com/Cogmasters/concord.git
