# Android & Local Builds
*.so
*.o
*.apk
*.env
bot 
Makefile.android
build/
build-android/
.gradle/
local.properties
build/
build_win/
build_linux/


build/
build_linux/
build_win/
build_mac/

build/
build_linux/
build_win/
build_mac/
CMakeCache.txt
CMakeFiles/
